<section>
  <div class="container" id="about">
    <h1>Personal history (pertaining to employment/education)</h1>
    <p id="about">
      Retro DIY microdosing, scenester heirloom poutine YOLO church-key sustainable. Humblebrag tote bag brooklyn direct trade pickled gastropub, meh jean shorts ennui venmo. Normcore banh mi bushwick messenger bag. Occupy venmo gentrify butcher godard crucifix, seitan thundercats sartorial bicycle rights ennui paleo forage. Four loko put a bird on it marfa, seitan sartorial kickstarter chia chartreuse migas paleo squid hella williamsburg polaroid intelligentsia. Cliche kombucha plaid, artisan distillery occupy forage pour-over fingerstache 8-bit keytar literally. Brooklyn umami fashion axe photo booth kinfolk.
    </p>
  </div>
</section>
