<section>
  <div class="full-container">
    <div class="side-image" ui-sref="meta-article">
      <div class="images-wrapper"></div>
        <div class="side-image-content">
          <h4>Bourbon/Sass, AngularJS</h4>
          <h1>The Meta Article</h1>
          <h3>Learn how to make the website you're on right now!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
      </div>
    </div>
  </div>

  <div class="full-container">
    <div class="side-image" ui-sref="mean-article">
      <div class="images-wrapper"></div>
        <div class="side-image-content">
          <h4>MongoDB, Express, AngularJS, NodeJS</h4>
          <h1>Exploring the MEAN stack</h1>
          <h3>Learn the mean stack by building a simple Twitter clone</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
      </div>
    </div>
  </div>

  <div class="full-container">
    <div class="side-image" ui-sref="karma-article">
      <div class="images-wrapper"></div>
        <div class="side-image-content">
          <h4>AngularJS, Jasmine, Karma</h4>
          <h1>Angular Unit Testing with Karma</h1>
          <h3>Covers how to unit test Angular 1.x with Karma</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
      </div>
    </div>
  </div>
</section>
