<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <h1>blogian</h1>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Me</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Articles</a></li>
        <li class="nav-link"><a href="javascript:void(0)"><i class="fa fa-github fa-lg"></i></a></li>
        <li class="nav-link"><a href="javascript:void(0)"><i class="fa fa-linkedin fa-lg"></i></a></li>
      </ul>
    </nav>
    <!-- <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div> -->
  </div>
</header>
