<section>
  <div class="container">
    <h1 class="centered">This is where I talk about what I do</h1>
    <div class="col-4">
      <h2>Full-Stack Web Developer</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt tellus quis diam sagittis viverra. Donec vitae risus quis mauris hendrerit ultricies. Aliquam vulputate justo sed pharetra mattis. Nulla id ligula nibh. Vivamus blandit nisi ac felis aliquet, ac egestas nulla ornare. Fusce quis ligula a velit pharetra scelerisque. Aenean sagittis ante at lacus tristique efficitur. Integer quam erat, malesuada id eros consequat, vehicula ultrices urna. Etiam pretium quam eget dui porttitor porttitor. Pellentesque congue gravida magna, at hendrerit ligula blandit eu. Sed sollicitudin nec est vitae feugiat. Suspendisse mattis ut magna id tempus. Aenean tincidunt nisl vel hendrerit feugiat. Mauris nec tellus ut ligula commodo dignissim sit amet in tellus. Proin nisi mi, bibendum vel iaculis ut, consectetur at nibh.
      </p>
    </div>
    <div class="col-4">
      <h2>Mathematician</h2>
      <p>
        Proin auctor tristique ante, sed commodo risus vulputate sit amet. Donec mattis suscipit justo, ac aliquam felis semper a. In ex sem, condimentum eget euismod eu, facilisis nec justo. Fusce auctor in justo non vehicula. Donec molestie efficitur mi, et mollis magna blandit in. Etiam ullamcorper blandit rhoncus. Donec interdum, ex fringilla gravida hendrerit, justo nisl tristique sem, vel pharetra ex sapien a quam. Aenean euismod ipsum nisi, vel fermentum lectus ultricies nec. Aliquam orci dui, auctor non nisi non, tincidunt laoreet odio. Maecenas non porttitor tellus. Sed ut sem eu nisi scelerisque pretium.
      </p>
    </div>
    <div class="col-4">
      <h2>Learning Enthusiast</h2>
      Phasellus eleifend auctor molestie. Donec ut dapibus nunc. Integer at convallis felis. Vestibulum gravida faucibus diam, vel ullamcorper eros vestibulum non. Praesent ullamcorper semper diam, eu congue risus dictum nec. Maecenas commodo ornare turpis, a venenatis quam pellentesque ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue sem, facilisis ultrices aliquet convallis, ultrices nec massa. Duis suscipit sollicitudin aliquam. Phasellus non sapien in leo accumsan tempor et vitae leo. In suscipit ipsum vitae aliquet commodo. Fusce cursus nulla at leo bibendum, quis commodo lacus porttitor. Maecenas ac ornare neque. Pellentesque viverra malesuada nulla, iaculis accumsan quam mattis sit amet. Nam rutrum non elit et porttitor.
    </div>
  </div>

  <div class="container">
    <div class="col-6">
      <h1>Who I am</h1>
      <p>
        Pug lo-fi normcore shoreditch hashtag. Put a bird on it swag readymade vice four loko VHS. Retro gastropub leggings yuccie raw denim, 8-bit slow-carb typewriter mumblecore seitan ramps farm-to-table mixtape godard single-origin coffee. Shoreditch flexitarian lumbersexual chillwave hella. Selvage wolf street art XOXO, YOLO ennui forage tousled messenger bag migas aesthetic iPhone put a bird on it food truck kinfolk. Asymmetrical occupy fingerstache food truck sartorial, sustainable echo park meggings bitters chicharrones yr. Marfa pour-over yuccie small batch direct trade, you probably haven't heard of them lo-fi cornhole thundercats readymade before they sold out umami keffiyeh.
      </p>
    </div>
    <div class="col-6">
      <h1>Skills</h1>
      <ul id="skills-1">
        <li>Git</li>
        <li>PHP</li>
        <li>MySQL</li>
        <li>MongoDB/NoSQL</li>
        <li>Express</li>
        <li>AngularJS</li>
        <li>NodeJS</li>
      </ul>
      <ul id="skills-2">
        <li>JavaScript</li>
        <li>Sass</li>
        <li>Bourbon/Neat/Bitters</li>
        <li>R</li>
        <li>Mathematica</li>
        <li>LaTeX</li>
        <li>Drupal</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <h1 class="centered">Here's some stuff I've written</h1>

      <div class="grid-items">
      <a href="javascript:void(0)" class="grid-item">
        <i class="fa fa-book fa-3x"></i>
        <h1>The Meta Article!</h1>
        <p>Learn how to make the website you're on right now!</p>
      </a>
      <a href="javascript:void(0)" class="grid-item grid-item-big">
        <i class="fa fa-code fa-3x"></i>
        <h1>Read the Kanji</h1>
        <p>A webapp to help people practice memorization of Kanji and increase their vocabulary</p>
      </a>
      <a href="javascript:void(0)" class="grid-item grid-item-big">
        <i class="fa fa-book fa-3x"></i>
        <h1>Exploring the MEAN stack</h1>
        <p>Learn the mean stack by building a simple Twitter clone</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <i class="fa fa-code fa-3x"></i>
        <h1>Meteor App</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <i class="fa fa-code fa-3x"></i>
        <h1>PHP MySQL thing</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item grid-item-big">
        <i class="fa fa-book fa-3x"></i>
        <h1>Angular Unit Testing with Karma</h1>
        <p>Covers how to unit test Angular 1.x with Karma</p>
      </a>
    </div>

  </div>

  <div class="container">
    <h2>Something goes here probably like a "hey let's get in touch" kinda thing</h2>
  </div>

</section>
