<section>
  <div class="container">
    <h1>This is where I talk about how great I am</h1>
    <div class="col-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt tellus quis diam sagittis viverra. Donec vitae risus quis mauris hendrerit ultricies. Aliquam vulputate justo sed pharetra mattis. Nulla id ligula nibh. Vivamus blandit nisi ac felis aliquet, ac egestas nulla ornare. Fusce quis ligula a velit pharetra scelerisque. Aenean sagittis ante at lacus tristique efficitur. Integer quam erat, malesuada id eros consequat, vehicula ultrices urna. Etiam pretium quam eget dui porttitor porttitor. Pellentesque congue gravida magna, at hendrerit ligula blandit eu. Sed sollicitudin nec est vitae feugiat. Suspendisse mattis ut magna id tempus. Aenean tincidunt nisl vel hendrerit feugiat. Mauris nec tellus ut ligula commodo dignissim sit amet in tellus. Proin nisi mi, bibendum vel iaculis ut, consectetur at nibh.
    </div>
    <div class="col-4">
      Proin auctor tristique ante, sed commodo risus vulputate sit amet. Donec mattis suscipit justo, ac aliquam felis semper a. In ex sem, condimentum eget euismod eu, facilisis nec justo. Fusce auctor in justo non vehicula. Donec molestie efficitur mi, et mollis magna blandit in. Etiam ullamcorper blandit rhoncus. Donec interdum, ex fringilla gravida hendrerit, justo nisl tristique sem, vel pharetra ex sapien a quam. Aenean euismod ipsum nisi, vel fermentum lectus ultricies nec. Aliquam orci dui, auctor non nisi non, tincidunt laoreet odio. Maecenas non porttitor tellus. Sed ut sem eu nisi scelerisque pretium.
    </div>
    <div class="col-4">
      Phasellus eleifend auctor molestie. Donec ut dapibus nunc. Integer at convallis felis. Vestibulum gravida faucibus diam, vel ullamcorper eros vestibulum non. Praesent ullamcorper semper diam, eu congue risus dictum nec. Maecenas commodo ornare turpis, a venenatis quam pellentesque ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue sem, facilisis ultrices aliquet convallis, ultrices nec massa. Duis suscipit sollicitudin aliquam. Phasellus non sapien in leo accumsan tempor et vitae leo. In suscipit ipsum vitae aliquet commodo. Fusce cursus nulla at leo bibendum, quis commodo lacus porttitor. Maecenas ac ornare neque. Pellentesque viverra malesuada nulla, iaculis accumsan quam mattis sit amet. Nam rutrum non elit et porttitor.
    </div>
  </div>

  <div class="container">
    <h2>Gee willikers looks like I'm pretty great</h2>
  </div>

  <div class="container">
    <h1>Here's some stuff I've written</h1>

    <div class="grid-items">
    <a href="javascript:void(0)" class="grid-item">
      <i class="fa fa-book fa-3x"></i>
      <h1>Grid Item</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
      <i class="fa fa-code fa-3x"></i>
      <h1>Grid Item With an Image</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item grid-item-big">
      <i class="fa fa-code fa-3x"></i>
      <h1>Another Wide Item</h1>
      <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <i class="fa fa-book fa-3x"></i>
      <h1>Last Grid Item</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
      <h1>Last Grid Item</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item grid-item-big">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
      <h1>Item</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
  </div>

  </div>
</section>
