@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "refills/refills";

section {
  background-color: #E0F7FA;
}

div#about {
  padding: 21vh;
}

.container {
  @include outer-container;
  $mobile: new-breakpoint(max-width 700px 4);
  padding-top: 2em;
  padding-bottom: 2em;

  h1 {
    font-size: 2em;
  }

  h2 {
    @include span-columns(12);
    font-size: 1.2em;
    text-align: center;
  }

  .col-4 {
    @include span-columns(4);
    @include pad();
    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .col-6 {
    @include span-columns(6);
    @include pad();
    @include media($mobile) {
      @include span-columns(6);
    }
  }

  #skills-1 {
    @include span-columns(3 of 6);
    @include pad();
    @include media($mobile) {
      @include span-columns(6);
    }
    font-size: 1.1em;
  }

  #skills-2 {
    @include span-columns(3 of 6);
    @include pad();
    @include media($mobile) {
      @include span-columns(6);
    }
    font-size: 1.1em;
  }
}

.full-container {
  padding-top: 2em;
  padding-bottom: 2em;
}


.centered {
  text-align: center;
}

p#about {
  font-size: 1.5em;
}

footer#about {
  position: absolute;
  bottom: 0;
}
